.new-tweet-head {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/asfalt-background.png');
  margin-bottom: 75px;
}